<section class="form-section">
  <video class="form-video" #bgVideo autoplay muted loop playsinline preload="auto">
    <source src="assets/form-video2.mp4" type="video/mp4" />
  </video>

  <div class="form-overlay"></div>

  <div class="hero-content">
  <div class="hero-badge">ДОБРЕДОЈДОВТЕ ВО PAWPAL</div>
  <h1>Местото каде вашето куче е на прво место</h1>
  <p>Грижа, љубов и професионализам — сè на едно место во Скопје.</p>
  <button class="form-btn" routerLink="/registracija">ПОПОЛНИ ГО ФОРМУЛАРОТ</button>
</div>
</section>