<div class="home-intro">

  <!-- НАСЛОВ СЕКЦИЈА -->
  <section class="intro-section">
    <div class="intro-container">
      <h2 class="intro-title">Местото кое вашите кучиња би го избрале</h2>
      <div class="intro-divider"></div>
      <p class="intro-text">Во PawPal, вашиот миленик не е само гостин — тој е ѕвезда. Нудиме луксузна нега, удобен престој и безбедна средина каде секое куче се чувствува како дома.</p>
    </div>
  </section>

  <!-- ТРИ СЛИКИ -->
  <section class="images-section">
  <div class="images-grid">
    <div class="img-item">
      <img src="assets/executive-rooms-home.webp" alt="Простор за миленици">
    </div>
    <div class="img-item img-center">
      <img src="assets/luxury.webp" alt="Луксузен престој">
    </div>
    <div class="img-item">
      <img src="assets/traditional.webp" alt="Традиционален престој">
    </div>
  </div>
  <div class="images-link">
    <a routerLink="/za-nas" class="za-nas-link">ЗА НАС &nbsp;→</a>
  </div>
</section>
  <!-- ЛЕВО ТЕКСТ ДЕСНО СЛИКА -->
  <section class="about-section">
    <div class="about-container">
      <div class="about-left">
        <span class="about-tag">ЗА НАС</span>
        <h2>Грижата за вашиот миленик е наша страст</h2>
        <p>Го создадовме PawPal со идеја да понудиме простор каде милениците ќе се чувствуваат пријатно, а нивните сопственици ќе знаат дека се во сигурни раце.</p>
        <p>За нас, грижата не е само услуга, туку однос изграден врз доверба, внимание и љубов кон животните.</p>
        <a routerLink="/za-nas" class="about-link">Прочитај повеќе &nbsp;→</a>
      </div>
<div class="about-right">
  <img src="assets/right-image-home.webp" alt="За нас">
</div>
    </div>
  </section>

</div>
