<section class="nagradi-section">
  <div class="nagradi-container">
    <h2 class="nagradi-title">Наши награди</h2>
    <div class="nagradi-row">
      <div class="nagradi-item"><img src="assets/ibby-6x-winner-logo.png" alt="награда 1"></div>
      <div class="nagradi-item"><img src="assets/ibpsa-member.png" alt="награда 3"></div>
      <div class="nagradi-item"><img src="assets/logo2.png" alt="награда 4"></div>
      <div class="nagradi-item"><img src="assets/paccc-logo.jpg" alt="награда 5"></div>
      <div class="nagradi-item"><img src="assets/untitled-design-52.png" alt="награда 6"></div>
      <div class="nagradi-item"><img src="assets/grand-rapidscropped-ppbc-logo-large.png" alt="награда 7"></div>
    </div>
  </div>
</section>